<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <img class="navbar-brand" style="width: 40px;" src="../../assets/1631734301802.jfif"/>

    <!-- Toggle button (click)="basicNavbar.toggle()" -->
    <button
      class="navbar-toggler"
      type="button"

      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper #basicNavbar="mdbCollapse" -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse

    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="Local">Local </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Remote">Remoto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="RemotePlus" tabindex="-1" aria-disabled="true">Remoto Plus</a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <div class="d-flex input-group w-auto">
        <p>Gustavo Velasco</p>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
